* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f8ed;
  color: #263b20;
}

/* MENÚ */

header {
  background: #1d5424;
  color: white;
  text-align: center;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

header h1 {
  margin-bottom: 15px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 9px 14px;
  border-radius: 10px;
  font-weight: bold;
}

nav a:hover {
  background: #69a842;
}

/* INICIO */

.hero {
  min-height: 480px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  background:
    linear-gradient(
      rgba(30, 90, 35, 0.7),
      rgba(70, 130, 55, 0.7)
    );
}

.hero h2 {
  font-size: 45px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  max-width: 650px;
  margin-bottom: 30px;
}

.boton {
  background: #ffd447;
  color: #263b20;
  padding: 14px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

/* SECCIONES */

.seccion {
  padding: 70px 8%;
  text-align: center;
}

.seccion h2,
.potrero h2 {
  font-size: 35px;
  margin-bottom: 35px;
}

.verde {
  background: #e1efd3;
}

/* TARJETAS */

.tarjetas {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.tarjeta {
  width: 280px;
  padding: 30px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.tarjeta:hover {
  transform: translateY(-10px);
}

.emoji {
  font-size: 55px;
  margin-bottom: 15px;
}

.tarjeta h3 {
  color: #28722e;
  margin-bottom: 15px;
}

.tarjeta p {
  line-height: 1.6;
}

/* POTRERO */

.potrero {
  padding: 60px 20px;
  text-align: center;
  background: #bde68c;
}

.campo {
  height: 280px;
  max-width: 1000px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 25px;

  background:
    linear-gradient(
      #86cef0 0%,
      #c4edff 55%,
      #72b94e 56%,
      #3d8c34 100%
    );

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.sol {
  position: absolute;
  right: 60px;
  top: 20px;
  font-size: 55px;
}

/* VACAS */

.vaca {
  position: absolute;
  left: -100px;
  font-size: 65px;
  animation-name: caminar;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.vaca1 {
  top: 125px;
  animation-duration: 9s;
}

.vaca2 {
  top: 175px;
  animation-duration: 13s;
  animation-delay: 2s;
}

.vaca3 {
  top: 90px;
  animation-duration: 11s;
  animation-delay: 4s;
}

@keyframes caminar {
  0% {
    left: -100px;
  }

  100% {
    left: 110%;
  }
}

/* PASTO */

.pasto {
  position: absolute;
  bottom: 8px;
  width: 100%;
  font-size: 28px;
}

/* SUEÑOS */

.suenos {
  padding: 70px 20px;
  text-align: center;
  background: #285c29;
  color: white;
}

.suenos h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.suenos p {
  max-width: 700px;
  margin: auto;
  font-size: 20px;
  line-height: 1.7;
}

/* FOOTER */

footer {
  padding: 25px;
  text-align: center;
  background: #183b1c;
  color: white;
  line-height: 1.8;
}

/* CELULAR */

@media (max-width: 600px) {

  header h1 {
    font-size: 25px;
  }

  nav a {
    font-size: 13px;
  }

  .hero h2 {
    font-size: 32px;
  }

  .seccion h2,
  .potrero h2 {
    font-size: 28px;
  }

  .tarjeta {
    width: 100%;
    max-width: 330px;
  }

  .vaca {
    font-size: 50px;
  }

}
